<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <div id="app">
      <p v-if="isMorning">Good Morning!</p>
      <p v-if="isAfternoon">Good Afternoon!</p>
      <p v-if="isEvening">Good Evening!</p>
    </div>

    <script>
      var hours = new Date().getHours();
      new Vue({
        el: "#app",
        data: {
          isMorning: hours < 12,
          isAfternoon: hours >= 12 && hours < 18,
          isEvening: hours >= 18,
        },
        created() {
          console.log(hours);
        },
      });
    </script>
  </body>
</html>
